<!--

This is the add html template for the add route of a simple CRUD api

Written by: Mostofa Adib Shakib
Language: HTML, CSS, JavaScript

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
    <div class="page-wrapper">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1" ><a href="/"> KurT's Steam Store </a></span>
            <a class="float-right" href="/add" title="Add a new developer"> Add a developer </a>
        </nav>

    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="name" id="name" placeholder="name" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="details" id="details" placeholder="Details" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="number" class="form-control" name="Age" id="number" placeholder="Age" required>
                </div>
                <div class="form-group col-md-6">
                    <select id="position" name="position" class="form-control" required>
                        <option selected disabled>Choose position</option>
                        <option> Lead Developer </option>
                        <option> Senior Developer </option>
                        <option> Junior Developer </option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right"> Add Developer </button>
        </form>
    </div>
</div>
</body>
</html>